/* -------------------------------------------------
# Common style 
* -------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color:#828282;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 54px;
}

a{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding:0px 15px;
}

.col-2{
    max-width: 50%;
    float: left;
}

.col-3{
    max-width: 33.33%;
    float: left;
}

.col-4{
    max-width: 25%;
    float: left;
}

.col-6{
    max-width: 66.66%;
    float: left;
}

/* -------------------------------------------------
# Main style 
* -------------------------------------------------*/
/* header css  */
header{
    background-color: #222;
    padding: 25px;
    position: relative;
    overflow: hidden;
}

header .logo{
    float: left;
}

header .logo a{
    text-decoration: none;
}

header .logo a img{
    width: 100%;
}

header .menu{
    float: right;
}

header .menu nav{
    margin-left: 50px;
}

header .menu nav ul{
    margin: 0;
    padding: 0;
}

header .menu nav ul li{
    display: inline-block;
    margin-left: 50px;
}

header .menu nav ul li:first-child{
    margin-left: 0;
}

header .menu nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s;
}

header .menu nav ul li a.active{
    color:#FBA24F;
}

header .menu nav ul li a:hover{
    color:#FBA24F;
}

/* hero area  */
.hero-area{
    position: relative;
    overflow: hidden;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.hero-area .hero-area-left{
    margin-top: 260px;
}

.hero-area .hero-area-left h1{
    margin-bottom: 40px;
}

.hero-area .hero-area-left h1 span{
    color: #FBA24F;
}

.hero-area .hero-area-left p{
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    margin-bottom: 50px;
}

.hero-area .hero-area-left a{
    background: linear-gradient(90deg,#FBA24F,#FF1E1E);
    border-radius: 50px;
    text-decoration: none;
    padding: 25px 50px;
}

.hero-area .hero-area-right{
    margin: 80px 0;
}

.hero-area .hero-area-right img{
    width: 100%;
}

/* about me  */
.about-me{
    position: relative;
    overflow: hidden;
    background-image: url('../images/about-bg.png');
    background-size: cover;
}

.about-me-left > img{
    text-align: center;
    margin: 62px 100px 0;
}

.about-me-right{
    margin-left: 50px;
}

.about-me-right h2{
    margin-top: 127px;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 54px;
    color:#707070;
}

.about-me-right p{
    font-size: 18px;
    font-weight: regular;
    line-height: 32px;
    color: #18191F;
    margin-bottom: 111px;
}

.about-me-right a{
    background: linear-gradient(90deg,#FBA24F,#FF1E1E);
    border-radius: 50px;
    text-decoration: none;
    padding: 25px 50px;
}
