/* -------------------------------------------------
# Common style 
* -------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color:#828282;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 54px;
}

a{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding:0px 15px;
}

.col-2{
    max-width: 50%;
}

.col-3{
    max-width: 33.33%;
}

.col-4{
    max-width: 25%;
}

.col-6{
    max-width: 66.66%;
}